In [1]:
#Question 1a
2+5

7

Addition

In [3]:
#Question 1b
2 + 5

7

python doesn't care about spaces in this case

In [5]:
#Question 1c
2*5

10

multiplication

In [6]:
#Question 1d
2/5

0.4

dividing, python gives the answer in decimal form

In [7]:
#Question 1e
2**5

32

the double asterisk is the exponent symbol

**Question 2**

In [8]:
#Question 2
x = 7
x = x + 3
x

10

python evaluated the right side of the equation first, then assigns taht result to the left side.

In [9]:
#Question 3
x = 3
y = x
x = 10
x, y

(10, 3)

x is 10 and y is 3. X is initially 3 and y is assigned to x, which is 3. x is then reassigned to 10.

In [10]:
#Question 4
x = 3
x = x/2
y = 'abc'
z = y + y
print(x, z)

1.5 abcabc

Yes, it runs without error. z concatenates two y strings, which are both 'abc'. x just prints the result of 3/2.

In [10]:
#Question 5
x = 3
x = x/2
y = 'abc'
z = x + y
print(x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

There is an error. It says that you cannot add a float and a string. A string is just text and a float is numbers that have a value.

In [12]:
#Question 6
x = 3
y = 24
z = y/x
print(x,y,z, sep = '|')

3|24|8.0

Yes, this runs without error. It prints out x, y, and z, and uses a vertical bar instead of a space as separators.

In [13]:
#Question 7
x = 3
y = '24'
z = y/x
print(x,z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

There is an error because you cannot divide text by a number.

In [16]:
#Question 8
x = "I am a #string" # Whoa a string
x

'I am a #string'

It runs without error, because everything inside the quotes becomes a string, and the # symbol indicates that everything after it is a comment

In [11]:
#Question 9
x = [1,2,3]
y = [42,43]
z = x + y
print(z)

[1, 2, 3, 42, 43]

x and y are lists, and the  + symbol concatenates the lists into a larger list.

In [3]:
#Question 10
x = [1,2,3]
y= 42
z = x + y
z

TypeError: can only concatenate list (not "int") to list

There is an error because python can only concatenate lists, not an integer and a list.

In [8]:
#Question 11
x1 = 12
x2= 12.0
x3 = '12.0'
x4 = [12]
x5 = [12,12.0, '12.0']
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'list'>

I used the type() function to get each variable type.

Question 12
type(42) gives an int <br>
type(42.0) gives a float because there is a decimal <br>
type('42.0') gives a string <br>
type("42.0") gives a string, single quotes and double quotes are similar. <br>
type("""42.0""") gives a string <br>
type([1,2]) gives a list <br>
type([1] + [2]) gives a list, which is the concatenation of the two lists. <br>
type(1+2) gives an int <br>
type(print) gives a builtin_function_or_method, since print() is a function<br>

In [16]:
#Question 13
type(float(str(int('1234'))))

float

This gives a float because the function is interpreted starting from the inside. '1234' is a string, which gets turned into an integer, 1234, which gets turned back into a string, then gets turned into a float, 1234.0, and the type() function returns float.

In [17]:
#Question 14
type(int(float('12.34')))

int

'12.34' is a string, which gets turned into a float, which gets turned into an int, 12. The int() function truncates the decimal. The type() function returns int.

In [23]:
#Question 15
print(len([1234]))
print(len("1234"))
print(len(1234))

1
4

TypeError: object of type 'int' has no len()

len([1234]) returns 1 because it is a list with one element. len("1234") returns 4 because it is a string with a length of 4. len(1234) gives an error because an integer has no length.

In [24]:
#Question 16
x = []
print(type(x))
print(len(x))

<class 'list'>
0

The type of x is a list, even though it is empty. An empty list has a length of 0.

In [25]:
#Question 17
x = 'abcde'
list(x) #wow python does a lot of stuff for you

['a', 'b', 'c', 'd', 'e']

The list() function separates each character in a string and makes it a separate element in a list. Output is above.

In [29]:
#Question 18
#a
x = 1234
x = float(x)
print(type(x))
x = str(x)
print(type(x))
x = ['1','2','3','4']
print(x)

<class 'float'>
<class 'str'>
['1', '2', '3', '4', '.', '0']

For each step just use the float() or str() function to convert x. For the last one I just assigned x to the new list because if you use list(x) the decimal and the 0 go into the array as well

In [31]:
#Question 19
x = "luke, i am your father"
x.title()

'Luke, I Am Your Father'

I used the title method.

In [32]:
#Question 20
x = "How many characters and words are in this string?"
print(len(x))
print(list(x)) #convert x or just print it out?
x = x.split()
print(x)
print(len(x))

49
['H', 'o', 'w', ' ', 'm', 'a', 'n', 'y', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', ' ', 'a', 'n', 'd', ' ', 'w', 'o', 'r', 'd', 's', ' ', 'a', 'r', 'e', ' ', 'i', 'n', ' ', 't', 'h', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', '?']
['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']
9

a. There are 49 characters. <br>
b. I used the list() function <br>
c. I used text.split() function <br>
d. There are 9 words, and I used the length function. <br>